<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pod Party</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>
  <div>
    <img src="https://res.cloudinary.com/os-labs/image/upload/v1625788409/Screen_Shot_2021-07-06_at_4.11.23_PM_ye7ji0.png">
  </div>

  <h1>Join the Podcast Party!!!</h1>
  <h4>Login to your Google account with one click:</h4>
  <a href="<%= loginLink %>">Login</a>
  <br>
</body>

</html>